body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  height: 1rem;
}

#navbar {
  margin: 0;
  background: linear-gradient(
    90deg,
    rgba(61, 86, 86, 1) 0%,
    rgba(207, 253, 225, 1) 35%,
    rgba(104, 185, 132, 1) 100%
  );
  color: #fed049;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#anchors {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  font-size: 1.5rem;
}

#homepage-anchor,
#products-anchor,
#about-us-anchor {
  margin: 0.75rem;
}

#homepage-header {
  text-align: center;
  margin-top: 0.5rem;
}

#homepage-pragraph {
  padding: 0 1rem;
}

#products {
  text-align: center;
}

#product-list li {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

#product-with-image {
  display: grid;
  grid: auto-flow;
  justify-content: center;
}

ol {
  list-style-type: none;
}

#about-us-header,
#vision-header,
#mission-header {
  text-align: center;
}
